<div class="header">
  <div class="container">
    <h1>Bird Sightings</h1>
  </div>
</div>

<% @sightings.each { |s| %>
    <h3> User: <%= s.username %> </h3>
    <p> Location of Sighting: <%= s.location %></p>
    <p> Bird is: <%= s.behavior %> </p>
    <p> <%= s.created_at %></p>
    <% } %>
    <%= link_to 'Submit a Sighting', "sightings/new" %>
    
