<div class="header">
  <div class="container">
    <h1>Bird Sightings</h1>
  </div>
</div>


  <head>
        <%= stylesheet_link_tag "app\assets\stylesheets\sightings.scss" %>
  </head>
<div class="wrapper">

<table class="datatable">
  <tr>
    <th>Name</th>
    <th>Location</th>
    <th>Singing</th>
    <th>Aggressive</th>
    <th>Flying</th>
    <th>Other</th>
    <th>Notes</th>
    <th>Time</th>
  </tr>

<% 
 @sightings.each do  |s| %>
     <% u=User.find( s.user_id) %>
  <tr>
    <td><%= u.name %> </td>
    <td><%= s.location %> </td>
    <td><%= s.singing %> </td>
    <td><%= s.aggressive %> </td>
    <td><%= s.flying %> </td>
    <td><%= s.other %> </td>
    <td><%= s.notes %> </td>
    <td><%= s.created_at %> </td>
  </tr>
  
  
<% end %> 
</table>

<div class = "paginate">
  <%= will_paginate @sightings %>
</div>
<p>
  Download:
  <%= link_to "CSV", sightings_path(format: "csv") %> |
</p>



