<div class="header">
  <div class="container">
    <h1>Bird Sightings</h1>
  </div>
</div>


  <head>
        <%= stylesheet_link_tag "app\assets\stylesheets\sightings.scss" %>
  </head>
<div class="wrapper">
<table class="datatable">
  <tr>
    <th>Name</th>
    <th>Location</th>
    <th>Behavior</th>
    <th>Time</th>
  </tr>

<% 
 @sightings.each do  |s| %>
  <tr>
    <td><%= s.username %> </td>
    <td><%= s.location %> </td>
    <td><%= s.behavior %> </td>
    <td><%= s.created_at %> </td>
  </tr>
  
  
<% end %> 
</table>

