


<body>

<style>
.marker {
    display: block;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    padding: 0;
}
</style>

<div class="col-md-6 col-md-offset-1">
<div class="form">
    <%= form_for(@sighting) do |f| %>


    <div class= "fields-container">
        <div class = "radio_button">
            <%=f.label :typez, "Type of Sighting" %> 
       <div class="radio" data-toggle="button">
          <label><input type="radio" name="optradio"> 
          <%= f.radio_button(:typez, "Bird") %>
            <%= label_tag(:typez, "Bird") %>
            </label>
        </div>
        <div class="radio" data-toggle="button">
          <label><input type="radio" name="optradio">
          <%= f.radio_button(:typez, "Nest") %>
            <%= label_tag(:typez, "Nest") %>
            </label>
           </div>
           </div>
    
        <div class = "checkbox">
            <%=f.label :behavior, "Behavior" %> 
            <div class="checkbox-choice", data-toggle="tooltip" title="The individual bird is actively singing">
                <%= f.check_box(:singing) %>
                <%= label_tag(:singing, "Singing") %>
            </div>
            <div class="checkbox-choice", data-toggle="tooltip" title="The individual bird is actively displaying aggressive behavior, such as....">
                <%= f.check_box(:aggressive) %>
                <%= label_tag(:aggressive, "Aggressive") %>
            </div>
            <div class="checkbox-choice", data-toggle="tooltip" title="The individual bird is actively flying">
                <%= f.check_box(:flying) %>
                <%= label_tag(:flying, "Flying") %>
            </div>
            <div class="checkbox-choice", data-toggle="tooltip" title="The individual bird is displaying other behavior or traits that are not defined above. Please describe in notes.">
                <%= f.check_box(:other) %>
                <%= label_tag(:other, "Other") %>
            </div>
        </div>
        
        <div class = "field">
            <div class="field-choice">
                <%=f.label :notes, "Notes" %>
                <%=f.text_area :notes, maxlength: @maximum_length, id: 'comment' %>
                Chars left: <span id="counter" data-maximum-length="<%= @maximum_length %>"><%= @maximum_length %></span>

            </div>
        </div>
            
            
        <div class="location">
            
            <div class="field-choice">
                <%=f.label :location, "Location" %> 
                <%=f.text_area :location %>
                <%= f.hidden_field :user_id, value: current_user.id %>

            </div>
            Try out our interactive map! Type in your location to drop a map marker.Click the marker to reveal your longitude
            and latitude. Feel free to move the marker around if you want a more specific location.
            
            <div class="map-container">
                <div id='map'></div>
                <div class="side-panel">
                     <div id='geocoder-container'></div>
                </div>
                    <div id="location-div" class="location-div"><pre id='coordinates' class='coordinates'></pre></div>
            </div>
            <br />
            
        </div>
    
        <div class = "actions">
                <%=f.submit "Submit" %>
        </div>

<div class="col-md-6 col-md-offset-1">
            <% if @sighting.errors.any? %>

                <% @sighting.errors.full_messages.each do |message| %>
                    <p  class="alert alert-danger"> <%= message %><p>
                <%end%>
           <% end %>
            <% if flash[:notice] %>
                   <p class="alert alert-danger"> "<%= flash[:notice] %>" </p>
            <%end%>
             
</div>
    </div>
    </div>
    <% end %>
</div>
<script>
   /* $(document).ready(function() {
      var comment = $("#comment");
      var counter     = $("#counter");
      var max_length  = counter.data("maximum-length");

      comment.keyup(function() {
          counter.text(max_length - $(this).val().length);
      });

    });*/
</script>

</body>

<%= javascript_include_tag 'mapbox-map.js'%>


</html>



