
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Report a Sighting</title>
</head>

<body>
<%= form_for(@sighting) do |f| %>

<div class = "field">
    <%=f.label :UserName %> <br>
    <%=f.text_area :username %>
</div>

<div class = "field">
    <%=f.label :Location %> <br>
    <%=f.text_area :location %>

</div>

<br />
<br />
<br />




<style type='text/css'>
    #info {
        display: block;
        position: absolute;
        left: 0;
        top:105px;
        z-index: 100;
        border: none;
        padding: 10px;
        border-radius: 3px;
        font-size: 12px;
        text-align: left;
        width: 40%;
        color: #222;
        background: #fff;
    }
    
</style>


<div id='map'></div>
<pre id='info'></pre>

<script>
mapboxgl.accessToken = 'pk.eyJ1IjoibXBlbGljaGV0IiwiYSI6ImNpZ3doNWVvYzBzNXN2cW0zd2N5ZnBvY2YifQ.2RlTuIjDz1pLYOP4YpdKyw';
var map = new mapboxgl.Map({
    container: 'map', // container id
    style: 'mapbox://styles/mapbox/streets-v9',
    center: [-74.50, 40], // starting position
    zoom: 9 // starting zoom
});

map.on('mousemove', function (e) {
    document.getElementById('info').innerHTML =
        JSON.stringify(e.point) + '<br />' +
        JSON.stringify(e.lngLat);
});
</script>


<br />

<div class = "field">
    <%=f.label :Behavior %> <br>
    <%=f.text_area :behavior %>
</div>



<div class = "actions">
    <%=f.submit "Submit" %>
</div>

<% end %>

<br/>
<br/>

<br/>





</body>

<%= link_to 'Home', root_path %>
</html>