


<body>

<div id="page-content-wrapper">
    <div class="container-fluid">
      <div class="row">
            <div class="col-md-6 col-md-offset-1">
                    <% if @sighting.errors.any? %>
    
                    <% @sighting.errors.full_messages.each do |message| %>
                        <p  class="alert alert-danger"> <%= message %><p>
                    <%end%>
                <% end %>
                </div>
            </div>
            <div class="sighting-form">
                <div class="options">
                    <%= form_for(@sighting) do |f| %>
                    
                        <div class = "radio_button">
                            <h4><%=f.label :typez, "Type of Sighting" %></h4>
                       <div class="radio" data-toggle="button">
                          <label><input type="radio" name="optradio"> 
                          <%= f.radio_button(:typez, "Bird") %>
                            <%= label_tag(:typez, "Bird") %>
                            </label>
                        </div>
                        <div class="radio" data-toggle="button">
                          <label><input type="radio" name="optradio">
                          <%= f.radio_button(:typez, "Nest") %>
                            <%= label_tag(:typez, "Nest") %>
                            </label>
                           </div>
                           </div>
                    
                        <div>
                            <br/>
                            <h4><%=f.label :behavior, "Behavior" %></h4>
                            <div data-toggle="tooltip" title="The individual bird is actively singing">
                                <%= f.check_box(:singing) %>
                                <%= label_tag(:singing, "Singing") %>
                            </div>
                            <div data-toggle="tooltip" title="The individual bird is actively displaying aggressive behavior, such as....">
                                <%= f.check_box(:aggressive) %>
                                <%= label_tag(:aggressive, "Aggressive") %>
                            </div>
                            <div data-toggle="tooltip" title="The individual bird is actively flying">
                                <%= f.check_box(:flying) %>
                                <%= label_tag(:flying, "Flying") %>
                            </div>
                            <div data-toggle="tooltip" title="The individual bird is displaying other behavior or traits that are not defined above. Please describe in notes.">
                                <%= f.check_box(:other) %>
                                <%= label_tag(:other, "Other") %>
                            </div>
                        </div>
                        
                        
                        <div>
                            <br />
                            <h4><%=f.label :notes, "Notes" %></h4>
                            <%=f.text_area :notes, maxlength: @maximum_length, id: 'comment',class: 'form-control' , size: "36x6"%>
                            Chars left: <span id="counter" data-maximum-length="<%= @maximum_length %>"><%= @maximum_length %></span>
                           
                
                        </div>
                        <br/>
                         <br/>
                        
                        <div><%=f.submit "Submit" %></div>
                            
                            
                        <div>
                           
                            <%=f.text_area :location %>
                            <%= f.hidden_field :user_id, value: current_user.id %>
            
                        </div>
                        
                        
                    
                        
                </div>
               
                
                <div class="map-container">
                    <div>
                        <h4 style=><%=f.label :location, "Location" %></h4>
                        Try out our interactive map! Type in your location to drop a map marker.Click the marker to reveal your longitude
                        and latitude. Feel free to move the marker around if you want a more specific location.
                    </div>
                    </br>
                            
                    <div class="map-container-2">
                        <div id='map' class="mapboxgl-map"></div>
                        <div id='geocoder-container'></div>
                    </div>
                    
                    <div id="location-div" class="location-div"><pre id='coordinates' class='coordinates'></pre></div>
                </div>
                    
                    
            </div>
            
            
              
            
        </div>
        
          
        
        
        
                     
        </div>
        
            <% end %>
        </div>
    </div>
    </div>
    </div>

<script>
    $(document).ready(function() {
      var comment = $("#comment");
      var counter     = $("#counter");
      var max_length  = counter.data("maximum-length");

      comment.keyup(function() {
          counter.text(max_length - $(this).val().length);
      });

    });
</script>

</body>

<%= javascript_include_tag 'mapbox-map.js'%>


</html>



