<h1> Welcome to Chirp!</h1>
<%= link_to 'View Recent Sightings', "sightings" %>
<br>
<%= link_to 'Report a Sighting', "sightings/new" %>
<br>
<%= link_to 'Mockingbird Description', "info" %>
<br>
<p> <%= link_to 'Log in', "users"%> or <%= link_to 'Create an Account', "users/new " %></p>
