<% if !current_user or !current_user.is_researcher? %>
  <h3>Sorry, you need special permission to view this page. 
  Please log in <%=link_to 'here', "/login" %> with the approproate
  credintials to view this page.</h3>


<%else %>
<div class="header">
  <div class="container">
    <h1>Active Users</h1>
  </div>
</div>

<% @users.each { |u| %>
    <h3> User: <%= link_to u.name, user_path(u) %> </h3>
    <p> Account Type: <%=u.provider %></p>
    <% if u.provider == "created" %>
      <p> Email: <%= u.email %></p>
      <%end %>
    <p> Created: <%= u.created_at %></p>
    <% } %>
    
<%end%>