<div class = "container">
      <div class="col-md-6 col-md-offset-3">
        <h1> Please enter your name to continue as a guest. </h1>

        <%= form_for(@user) do |f| %>
        
        <div>
        <%=f.label :name %> 
        <%=f.text_area :name,class: 'form-control' %> 
        </div>
        
        <%= f.hidden_field :email, value: nil%>
        <%= f.hidden_field :password, value: "guest"%>
        <%= f.hidden_field :password_confirmation, value: "guest"%>
        <%= f.hidden_field :provider, value: "guest" %>
        <div>
            <%= f.submit "Proceed as Guest", class: "btn btn-primary" %>
        </div>
        
        <% if @user.errors.any? %>
                <% @user.errors.full_messages.each do |message| %>
                    <br><p class="alert alert-danger"> <%= message %></p>
                <%end%>
        <%end%>
        <% end %>
</div>
</div>