
<div id="page-content-wrapper">
    <div class="container-fluid">
      <div class="row">
        <h1>Bird Sightings</h1>
        <% if !current_user or ((!(current_user.is_researcher?)) and (@user != current_user))  %>
          <h3>Oops, you need to be logged in to view this page. 
          Please log in <%=link_to 'here', "/login" %> or with <%= link_to "Facebook", "/auth/facebook"%> and try again.</h3>

        <%else %>
        <div  >
            <% if flash[:success] %>
               <p class="alert alert-success"> <%= flash[:success] %> </p>
              <% end %>
        </div>
        <div>
            
            
            <% if @user == current_user %>
                <h1> Welcome, <%=@user.name%>!</h1>
        
                <% if  @sightings.first.nil?%> 
                       <h3> You haven't submitted any sightings yet. Click <%= link_to 'here ', "/sightings/new" %> to get started.</h3>
                <% else %>
                    <h3>Previous sightings:</h3>
                    <table class="table table-striped">
                      <tr>
                        <th>Location</th>
                        <th>Type</th>
                        <th>Behavior(s)</th>
                        <th>Notes</th>
                        <th>Date Submitted</th>
                      </tr>
                <% end %>
               
            <% else %>
                <% if  @sightings.first.nil?%> 
                       <h3> <%=@user.name %> hasn't submitted any sightings yet. </h3>
                <% else %>
                    <h3> <%=@user.name%>'s Previous Sightings:</h3>
                    <table class="table table-striped table-hover">
                          <tr>
                            <th>Location</th>
                            <th>Type</th>
                            <th>Behavior(s)</th>
                            <th>Notes</th>
                            <th>Date Submitted</th>
                          </tr>
                <% end %>
            <%end%>
            
             <div id='map2'></div>
        
        <% @sightings.each do |s| %>
        <tr> 
            <!--The format of the id is extremely important!!! Don't touch ;(!!!-->
            <td class="locate" id=" <%= s.location %>, "> <%= s.location %> </td>
            <td> <%= s.typez %></td>
            <td>
                <% if s.singing == "1" %> Singing <br><% end%> 
                <% if s.aggressive == "1" %> Aggressive <br><% end%> 
                <% if s.flying == "1" %> Flying
                <% end%> 
            </td>
            
            <td> <%= s.notes %> </td>
<<<<<<< HEAD
            <td> <%= s.created_at %> </td>
=======
            <td> <%= s.created_at.strftime("%b. %d %Y") %> </td>
>>>>>>> master
        </tr>
            <% end %>
           
        <%end%>
        </table>
    </div>
    </div>
</div>



<style>
    
    #map2 { 
        position:relative; 
        height: 500px; 
        width:
        auto; 
        z-index: 2; 
        margin: 0 auto; }
    .mapboxgl-ctrl-bottom-right{
      visibility:hidden;
      display:none;
      background-color:black;
    }
    
    .mapboxgl-marker:hover{
      cursor: default;
      color: blue;
    }
    
    .mapboxgl-marker:hover{
    background-size: cover;
    color: #fff;
    text-align: center;
    margin: 0;
    padding: 15px 10px 15px;
    }
    
    
    min-height: 640px;
    
   /*.mapboxgl-ctrl-attrib{
    display: none;
    }
    .mapboxgl-ctrl{
      display: none;
    }*/
    
</style>


<%= javascript_include_tag 'mapbox-map-1.js'%>
</div>
<div class="container">
  <div class = "paginate">
    <%= will_paginate @sightings %>
  </div>
</div>