
<!DOCTYPE html>
<html>
<head>
  <title>Chirp</title>
    <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
    <meta name="viewport" content="width=device-width, initial-scale=1">   

    
    
	  <!--BootStrap -->
	
	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

	<!-- Latest compiled and minified JavaScript -->
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  	
  	<!-- Latest compiled and minified CSS -->
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    
    <!-- Optional theme -->
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
  
  <!--Font Awesome -->
  <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
  
  <!-- MapBox -->
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.26.0/mapbox-gl.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.26.0/mapbox-gl.css' rel='stylesheet' />
    <script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v1.3.1/mapbox-gl-geocoder.js'></script>
    <link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v1.3.1/mapbox-gl-geocoder.css' type='text/css' />

      
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    
</head>

<body>


<!-- Navigation Bar -->
<div id="wrapper"> 
  
	   <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
              <li class="sidebar-brand">
                <%=link_to "Chirp", root_path %></h1>
                <% if current_user %>
                <%if current_user.provider=='guest' %>
                <h3 class="navbar-header">Welcome, <strong><%= current_user.name %>!</strong> </h3>
                <%else%>
	  	           <h3 class="navbar-header">Signed in as <strong><%= current_user.name %></strong> </h3>
	  	            <%end%>
	               <%end%>
	             </li>
          <% if current_user %>
              <li class="<%= 'active' if current_page?(root_path) %>"><%= link_to 'Homepage', root_path %> </li>
              <li class="<%= 'active' if current_page?user_path(current_user) %>"><%= link_to "My Sightings", user_path(current_user)%></li>
              <li class="<%= 'active' if current_page?(submit_path) %>"><%= link_to "Submit a Sighting", '/sightings/new/' %></li>
  
              <% if current_user.is_researcher? %>
  		          <li class="<%= 'active' if current_page?(allSightings_path) %>"><%= link_to "All Sightings", '/sightings' %></li>
  		          <li class="<%= 'active' if current_page?(allUsers_path) %>"><%= link_to "All Users", '/users' %></li>
              <% end %>
  			      <li><a href="/signout">Sign Out <span class="glyphicon glyphicon-log-out"></span></a></li>
  	     
  	     
  	      <% else %>
            <li class="<%= 'active' if current_page?(root_path) %>"><%= link_to 'Homepage', root_path %></li>
            <li> <%= link_to "Sign in with Facebook", "/auth/facebook" %></li>
            <li class="<%= 'active' if current_page?(newUser_path) %>"> <%= link_to "Create an Account", "/users/new" %></li>
            <li class="<%= 'active' if current_page?(login_path) %>"> <%= link_to "Log in", "/login" %></li>
            <li class="<%= 'active' if current_page?(guest_path) %>"> <%= link_to "Proceed as Guest", "/guest" %></li>
        	<% end %>
  	    </ul>
      </div>
<%= yield %>
<!--<div class="container">
  <div class="row">
  <hr>
    <div class="col-lg-12">
      <div class="col-md-8">
        <a href="https://karubian.tulane.edu"  target="_blank">Contact the Research Team</a> | <a href="https://chirpdev.wordpress.com"  target="_blank">Meet the Developers</a>    
      </div>
      <div class="col-md-4">
        <p class="muted pull-right">© 2016 Chirp. All rights reserved</p>
      </div>
    </div>
  </div>
</div>-->

</div>

 <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>


</body>
</html>

