
<!DOCTYPE html>
<html>
<head>
  <title>Workspace</title>
    <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
    <script src='https://api.mapbox.com/mapbox-gl-js/v0.26.0/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v0.26.0/mapbox-gl.css' rel='stylesheet' />
    <script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v1.3.1/mapbox-gl-geocoder.js'></script>
    <link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v1.3.1/mapbox-gl-geocoder.css' type='text/css' />
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
</head>
<body>
  
<div class='nav' id='home'>
  <%= link_to 'Home', root_path %>
</div>

<div>
  <% if current_user %>
    Signed in as <strong><%= current_user.name %></strong>!
    <div class='nav' id='sightings'>
      
      <% if current_user.is_researcher? %>
        <%=link_to 'View all Sightings', '/sightings' %>
        <%=link_to 'View all Users', '/users' %>
      <% end %>
      
  <%= link_to 'Submit a Sighting', "/sightings/new" %>
    </div>
    <%= link_to 'Previous Sightings', user_path(current_user) %> <br>
    <%= link_to "Sign out", signout_path, id: "sign_out" %>
  <% else %>
    <%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in" %>
    <%= link_to "Create an account", "/users/new" %>
    <%= link_to "Log in", "/login" %>
    <%= link_to "Proceed as Guest","/guest" %>
  <% end %>
</div>
<%= yield %>

</body>
</html>

