
<!DOCTYPE html>
<html>
<head>
  <title>Workspace</title>
    <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />

    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.26.0/mapbox-gl.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.26.0/mapbox-gl.css' rel='stylesheet' />
    <script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v1.3.1/mapbox-gl-geocoder.js'></script>
    <link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v1.3.1/mapbox-gl-geocoder.css' type='text/css' />
    
    <style>
        #map { position:relative; height: 400px; width: 400px; top:10px;padding: 10chpx 0px; }
    </style>

<!--BootStrap -->
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
      <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
      <%= csrf_meta_tags %>
    
</head>
<body>


<% if current_user %>
<div id="header-wrapper">
	<div id="header" class="container">
		<div id="logo">
			<h1><a href="#">Chirp</a></h1>
			<h5><a href = "#">Signed in as <strong><%= current_user.name %></strong> </a></h3> 
		</div>
		<div id="menu">
			
			
			  
     
       <ul>
       <li id = "home"><%= link_to 'Homepage', root_path %></li></li>
			 <li id: "submit"><a href="/sightings/new" accesskey="2" title="">Submit a Sighting</a></li>
			 <li id = "sign_out"> <%= link_to "Sign out", signout_path%> </li>
		<% if current_user.is_researcher? %>
		<li><a href="/sightings">View all Sightings</a></li>
        <li><a href="/users">View all Users</a></li>
      <% end %>
	     <% else %>
	     <div id="header-wrapper">
	        <div id="header" class="container">
		        <div id="logo">
			        <h1><a href="#">Chirp</a></h1>
	        	</div>
	        	<div id="menu">
	     <ul>
				<li id = "home"><%= link_to 'Homepage', root_path %></li>
				<li id: "sign_in"><a href="/auth/facebook" accesskey="2" title="">Sign in with Facebook</a></li>
				<li><a href="users/new">Create an Account</a></li>
				<li><a href="/login">Log in</a></li>
				<li><a href= "/guest">Proceed as Guest</a></li>
			</ul>
			 <% end %>
			</ul>
			 
		</div>
	</div>



<%= yield %>


</body>
</html>

