
<!DOCTYPE html>
<html>
<head>
  <title>Workspace</title>
    <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.26.0/mapbox-gl.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.26.0/mapbox-gl.css' rel='stylesheet' />
    <style>
        #map { position:relative; height: 400px; width: 400px; top:10px;padding: 10chpx 0px; }
    </style>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
</head>
<body>
<div class='nav' id='home'>
  <%= link_to 'Home', root_path %>
</div>

<div>
  <% if current_user %>
    Signed in as <strong><%= current_user.name %></strong>!
    <div class='nav' id='sightings'>
  <%= link_to 'Submit a Sighting', "/sightings/new" %>
    </div>
    <%= link_to 'Previous Sightings', user_path(current_user) %> <br>
    <%= link_to "Sign out", signout_path, id: "sign_out" %>
  <% else %>
    <%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in" %>
    <%= link_to "Create an account", "users/new" %>
    <%= link_to "Log in", "/login" %>
  <% end %>
</div>
<%= yield %>

</body>
</html>

